.carousel-img{
    height: 500px !important;
    opacity: .2;
}
.find-btn{
    width: 270px;
    height: 40px;
    background: linear-gradient(90deg, #F27A54 0%, #A154F2 100%);
    color: white;
    border-radius: 20px;
    margin-top: 20px;
    position: absolute;
    bottom: 20px;
    align-items: center;
    margin-left: -130px;
  }
 .right-arrow{
     margin-left: 80px;
 }
 .carousel-caption{
     height: 250px;
 }
 .find{
    width: 270px;
    height: 40px;
    background: transparent;
    color: white;
    border-radius: 20px;
    margin-top: 20px;
    position: absolute;
    bottom: 20px;
    align-items: center;
    margin-left: -130px;
 }
 .button-holder{
     display: flex;
     justify-content: space-between;
 }